.About {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(64, 46, 50, 0.9);
    min-height: 95vh;
    overflow-y: scroll;
    padding-bottom: 50px;
} 

.About::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.Typewriter {
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Typewriter h1 {
    color: white;
    font-family: 'RobotoMono';
    font-size: 50px;
    letter-spacing: -5px;
    animation: 
    typing 3s steps(30, end),
    blink-caret .75s step-end infinite;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid rgb(255, 255, 255); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 50px auto; /* Gives that scrolling effect as the typing happens */
}

.Reveal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 85%;
    width: 90%;
    margin: 0 auto;
    max-width: 1300px;
    animation: reveal 1.5s ease-in;
}

.skills_certs h3 {
    color: white;
    font-family: 'RobotoMono';
    font-size: 35px;
    letter-spacing: -1px;
    text-align: left;
    margin: 1rem 0;
}

.Reveal p {
    color: white;
    font-family: 'RobotoMono';
    font-size: 30px;
    letter-spacing: -1px;
    text-align: left;
    text-indent: 1.5rem;
    opacity: 1;
}

.Resume {
    width: 50%;
    padding: 1rem 2rem;
    margin: 1.5rem 0;
    border-radius: 5px;
    background-color: #d2691ee6;
    background: linear-gradient(to right, #d2691ee0, #DFE0DFe0);
    font-family: 'RobotoMono';
    text-align: center;
    font-size: 1.25rem;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
    align-self: center;
}
.Resume:hover {
    cursor: pointer;
    transform: scale(1.02);
    background: linear-gradient(to left, #d2691ee0, #DFE0DFe0);
}

.Resume:active {
    transform: scale(1);
    box-shadow: none;
    background: linear-gradient(to left, #d2691ee0, #DFE0DFe0);
}

.skills_certs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
}

.list {
    width: 45%;
}

.list h3 {
    border-bottom: 1px solid white;;
}

.list ul li {
    color: white;
    font-family: 'RobotoMono';
    font-size: 30px;
    margin: 15px 0;
}

#certificates li {
    cursor: pointer;
}

#certificates li:hover {
    text-decoration: underline;
}

/* Obtained from https://css-tricks.com/snippets/css/typewriter-effect/ */
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: rgb(255, 255, 255); }
}

@keyframes reveal {
    from { opacity: 0 }
    to { opacity: 1 }
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 600px) {
    .About {
        height: 100vh;
    }

    .Typewriter {
        height: 10%;
    }

    .Typewriter h1 {
        font-size: 20px;
        letter-spacing: 0px;
    }

    .Reveal p {
        font-size: 16px;
        letter-spacing: 0px;
        margin: 0 15px; 
    }

    .skills_certs {
        flex-direction: column;
    }

    .skills_certs div h3 {
        text-align: center;
        font-size: 19px;
        letter-spacing: 0px;
    }

    .list {
        margin: 0 auto;
        width: 80%;
    }

    .list ul li {
        margin: 15px 0;
        font-size: 16px;
    }
}
