.Contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(64, 46, 50, .9);
    height: 95vh;
    min-height: 95vh;
}

.Heading {
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.Heading h1 {
    color: white;
    font-family: 'RobotoMono';
    font-size: 50px;
    letter-spacing: -5px;
    animation: 
    typing 1s steps(7, end),
    blink-caret .75s step-end infinite;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid rgb(255, 255, 255); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
}

.Methods {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Button-style {
    width: 25%;
    padding: 1rem 2rem;
    margin: 1.5rem 0;
    border-radius: 5px;
    background-color: #d2691ee6;
    background: linear-gradient(to right, #d2691ee0, #DFE0DFe0);
    font-family: 'RobotoMono';
    text-align: center;
    font-size: 1.25rem;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
    animation:
    reveal 1.5s ease-in ;
}

.Button-style a {
    color: white;
}

.Button-style:hover {
    cursor: pointer;
    transform: scale(1.02);
    background: linear-gradient(to left, #d2691ee0, #DFE0DFe0);
}

.Button-style:active {
    transform: scale(1);
    box-shadow: none;
    background: linear-gradient(to left, #d2691ee0, #DFE0DFe0);
}

@media (max-width: 1000px) {
    .Button-style {
        width: 70%;
    }
}

@media (max-width: 576px) {
    .Message p {
        font-size: 20px;
    }
}

/* Obtained from https://css-tricks.com/snippets/css/typewriter-effect/ */
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: rgb(255, 255, 255); }
}