.Logo {
    height: 250px;
    width: 250px;
    margin: 0px auto;
    border: 1px solid black;
    border-radius: 25%;
    padding: 25px 20px 20px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 5px 5px 25px black;
}

@media (max-width: 1280px) {
    .Logo {
        height: 200px;
        width: 200px;
    }
}