.Project {
    width: 95%;
    max-width: 1000px;
    height: 500px;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    color: white;
}

.Project-image {
    height: 500px;
    aspect-ratio: 1/1;
    border-radius: 10px 0px 0px 10px;
}

.Project-content {
    width: 500px;
    height: 500px;
    background-color: rgba(210, 105, 30, 0.800);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
}

.Project-content h2 {
    width: 95%;
    border-bottom: 1px white solid;
    font-size: 32px;
    padding-top: 1rem;
}

.Project-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Project-links a {
    margin: 2rem;
    color: whitesmoke;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.Project-links a:hover {
    transform: scale(1.1);
}

.Project-description {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.Project-description p {
    text-indent: 1rem;
    color: whitesmoke;
    padding: 1rem;
    font-size: 24px;
    height: 300px;
}

@media (max-width: 992px) {
    .Project {
        flex-direction: column;
        width: 500px;
        height: 1000px;
    }
    .Project-image {
        border-radius: 10px 10px 0px 0px;
    }
    .Project-content {
        border-radius: 0px 0px 10px 10px;
    }
}

@media (max-width: 576px) {
    .Project {
        height: 800px;
    }
    
    .Project, .Project-content {
        width: 100%;
    }

    .Project-content {
        height: 450px;
    }

    .Project-image {
        width: 100%;
        height: 350px;
    }

    .Project-content h2 {
        font-size: 28px;
    }
    .Project-description p {
        font-size: 20px;
        height: 250px;
    }
}