.Projects {
    background-color: rgba(64, 46, 50, .9);
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: flex-start;
    overflow-y: scroll;
    padding-bottom: 150px;
}

.Projects::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.Projects .Heading {
    margin-top: 2rem;
}

.Project-container {
    width: 100%;
    max-width: 3000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 0;
    animation:
    reveal 1.5s ease-in ;
}