.ScrollUp {
    min-height: 5vh;
    background-color: rgba(210, 105, 30, 0.850);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}

.ScrollUp i {
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

.ScrollUp i:hover {
    color: white;
}

.ScrollUp i:active {
    color: white;
    transform: translate(2px, 2px);
}